wks_MotoPoint/TFI/BLL/Connected Services/ServiceReference_01/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://motopoint.com.ar/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://motopoint.com.ar/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://motopoint.com.ar/">
      <s:element name="PagoMembresia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numeroTarjeta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numeroSeguridad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaValidez" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreTitular" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PagoMembresiaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PagoMembresiaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PagoMembresiaSoapIn">
    <wsdl:part name="parameters" element="tns:PagoMembresia" />
  </wsdl:message>
  <wsdl:message name="PagoMembresiaSoapOut">
    <wsdl:part name="parameters" element="tns:PagoMembresiaResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="PagoMembresia">
      <wsdl:input message="tns:PagoMembresiaSoapIn" />
      <wsdl:output message="tns:PagoMembresiaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PagoMembresia">
      <soap:operation soapAction="http://motopoint.com.ar/PagoMembresia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PagoMembresia">
      <soap12:operation soapAction="http://motopoint.com.ar/PagoMembresia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:51295/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:51295/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>